{% comment %}
  ViralChoice Trust Badges Snippet
{% endcomment %}

<div class="vc-product-page__trust-badges">
  <div class="vc-product-page__trust-badge">Free returns</div>
  <div class="vc-product-page__trust-badge">Secure checkout</div>
  <div class="vc-product-page__trust-badge">Fast shipping</div>
</div>
